[
 {example,
  [
   {http_port, 8080},
   {http_listener_count, 10}
  ]
 },

 {multiple_hosts_servers_example,
  [
   {http_listener_count, 10},
   {api1, #{
     host => "host1",
     port => 8383}},
   {api2, #{
     host => "host2",
     port => 8282}}
  ]
 },

 {cowboy_swagger,
  [
   {static_files, "../../priv/swagger"},
   {global_spec,
    #{swagger => "2.0",
      info => #{title => "Example API"},
      basePath => "/api-docs"
     }
   }
  ]
 }
].
