[
    {config, [
        #{
            files => ["src/*.erl"],
            ruleset => erl_files_strict,
            rules =>
                [
                    {elvis_style, max_function_length, disable},
                    {elvis_style, max_function_clause_length, disable},
                    {elvis_style, abc_size, disable}
                ]
        },
        #{
            files => ["rebar.config"],
            ruleset => rebar_config
        }
    ]}
].
