%% == Compiler and Profiles ==

{erl_opts,
 [warn_unused_import, warn_export_vars, warnings_as_errors, verbose, report, debug_info]}.

{minimum_otp_vsn, "23"}.

{alias, [{test, [compile, format, hank, lint, xref, dialyzer]}]}.

%% == Dependencies and plugins ==

{deps, [{mixer, "1.2.0", {pkg, inaka_mixer}}, cowboy_swagger]}.

{project_plugins,
 [{rebar3_hank, "~> 1.4.0"}, {rebar3_format, "~> 1.3.0"}, {rebar3_lint, "~> 3.0.1"}]}.

%% == Format ==

{format, [{files, ["*.config", "src/*"]}]}.

%% == Hank ==

{hank, [{ignore, ["_build/**", "_checkouts"]}]}.

%% == Dialyzer + XRef ==

{dialyzer,
 [{warnings, [no_return, underspecs, unmatched_returns, error_handling, unknown]}]}.

{xref_checks,
 [undefined_function_calls, deprecated_function_calls, deprecated_functions]}.

{xref_extra_paths, ["test/**"]}.

%% == Release ==

{relx,
 [{include_src, false},
  {extended_start_script, true},
  {release, {example, "0.1"}, [example, sasl]},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {overlay, [{copy, "./_checkouts/cowboy_swagger/priv/swagger", "priv/swagger"}]}]}.

          %% The above should be changed to the following when cowboy_swagger is
          %% used as a normal dependency (instead of _checkouts):
          %% {copy, "./_build/default/lib/cowboy_swagger/priv/swagger", "priv/swagger"}
