{erl_opts, [warn_unused_import, warn_export_vars, warnings_as_errors, verbose, report, debug_info]}.

{minimum_otp_vsn, "28"}.

{alias, [{test, [compile, fmt, hank, lint, xref, dialyzer]}]}.

{deps, [{mixer, "2.0.0", {pkg, inaka_mixer}}, cowboy_swagger]}.

{project_plugins, [{rebar3_hank, "~> 2.0.0"}, {erlfmt, "~> 1.8"}, {rebar3_lint, "~> 3.0.1"}]}.

{erlfmt, [write, {files, ["src/*.{erl,app.src}", "config/sys.config", "*.config"]}]}.

{hank, [{ignore, ["_build/**", "_checkouts"]}]}.

{dialyzer, [{warnings, [no_return, underspecs, unmatched_returns, error_handling, unknown]}]}.

{xref_checks, [undefined_function_calls, deprecated_function_calls, deprecated_functions]}.

{xref_extra_paths, ["test/**"]}.

{relx, [
    {include_src, false},
    {extended_start_script, true},
    {release, {example, "0.1"}, [example, sasl]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {overlay, [
        {copy, "./_checkouts/cowboy_swagger/priv/swagger", "priv/swagger"}

        %% The above should be changed to the following when cowboy_swagger is
        %% used as a normal dependency (instead of _checkouts):
        %% {copy, "./_build/default/lib/cowboy_swagger/priv/swagger", "priv/swagger"}
    ]}
]}.
