%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% == Erlang Compiler ==

%% Erlang compiler options
{erl_opts, [ warn_unused_vars
           , warn_export_all
           , warn_shadow_vars
           , warn_unused_import
           , warn_unused_function
           , warn_bif_clash
           , warn_unused_record
           , warn_deprecated_function
           , warn_obsolete_guard
           , strict_validation
           , warn_export_vars
           , warn_exported_vars
           , warn_untyped_record
           , debug_info]}.

%% == Dependencies ==

{deps, [ {mixer, "1.2.0", {pkg, inaka_mixer}}
       , cowboy_swagger
       ]}.

%% == Release ==

{relx, [{release, {example, "0.1"}, [example]},
        {sys_config, "./config/sys.config"},
        {extended_start_script, true},
        {overlay,
         [
          {copy, "./_checkouts/cowboy_swagger/priv/swagger", "priv/swagger"}
          %% The above should be changes to the following when cowboy_swagger is
          %% used as a normal dependency (instead of _checkouts):
          %% {copy, "./_build/default/lib/cowboy_swagger/priv/swagger", "priv/swagger"}
         ]
        }
       ]}.
