[{elvis,
  [{config,
    [#{dirs => ["src", "test"],
       filter => "*.erl",
       ruleset => erl_files,
       rules =>
           [{elvis_style,
             atom_naming_convention,
             #{regex => "^(([a-z][a-z0-9]*_?)*(_SUITE)?|basePath|swagger_2_0|openapi_3_0_0)$"}}]},
     #{dirs => ["."],
       filter => "rebar.config",
       ruleset => rebar_config},
     #{dirs => ["."],
       filter => "elvis.config",
       ruleset => elvis_config}]}]}].
