
{erl_opts,
 [
  {src_dirs, ["src"]}
 ]
}.

{deps_dir, "deps"}.
{deps,
 [
  {trails, ".*",
   {git, "https://github.com/inaka/cowboy-trails.git", "23d84c2b1f30965d7fb9272d14a4355088433fe9"}}
 ]
}.

{xref_warnings, true}.
{xref_checks,
  [
    undefined_function_calls
  , locals_not_used
  , deprecated_function_calls
  , deprecated_functions
  ]
}.
