{erl_opts,
 [
  {src_dirs, ["src"]}
 ]
}.

{deps_dir, "deps"}.
{deps,
 [
  {jiffy, ".*",
   {git, "https://github.com/davisp/jiffy.git", "0.14.3"}},
  {trails, ".*",
   {git, "https://github.com/inaka/cowboy-trails.git", "0.1.0"}},
  {katana, ".*",
   {git, "https://github.com/inaka/erlang-katana.git", "07efe94"}}
 ]
}.

{xref_warnings, true}.
{xref_checks,
  [
    undefined_function_calls
  , locals_not_used
  , deprecated_function_calls
  , deprecated_functions
  ]
}.
